body{
    
    background: radial-gradient(circle, rgba(174,238,236,1) 0%, rgba(148,187,233,1) 100%);
position: relative;
padding-bottom: 3em;
min-height: 90vh;
}


.logo{
 
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(83,45,253,1) 100%);
display: flex;
justify-content: center;
}


img {
    opacity: 1;

  }

  .ini{
   margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  footer{
    position: absolute;
    bottom: 0;
    padding: 1em;
  }

  .medico{
    background: rgb(174,238,236);
    background: radial-gradient(circle, rgba(174,238,236,1) 0%, rgba(148,187,233,1) 100%);
  }

  h1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  ul{
    padding: 20px;
  
    
  }
  .inicio{
    display: inline;
    margin-left: 20px;
  }

  .img{
    display: flex;
    justify-content: center;
  }
  
  